nav {
    top: 0;
    box-shadow: 0px 13px 24px 0px rgba(0, 0, 0, 0.08);
    padding-top: .5rem;
    padding-bottom: .5rem;
}

nav .navbar-collapse.collapse {
    display: block;
}

@media (max-width: 991px) {
    nav .navbar-collapse.collapse {
        overflow: hidden;
    }
    
    nav .navbar-collapse.active {
        height: 100vh !important;
    }
}

nav .navbar-collapse{
    transition: .6s all ease-in-out;
    height: 0 !important;
}

.nav-item:hover{
    color: #78c69c !important;
    
}

.nav-item{ 

    background-image: linear-gradient(
      to right,
      #1aa45a,
      #1aa45a 50%,
      #000 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.7s ease-in-out;
    
  }
  
  .nav-item:hover {
   background-position: 0;
  }
  
  .nav-item:hover::before {
    width:100%;
  }


  .logoclamed {
    font-weight: bold;
    text-decoration: underline;
  }