input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form {
    padding: 10px;
    border: solid 1px black;
}
.form1 {
    padding: 10px;
    border: solid 1px black;
    border-top: none;
    margin-bottom: 30px;
}

/* .input {
    input:hover, select:hover {
        border-color: transparent;
        box-shadow: 0 0 0 5px orange;
      }
    
} */

input:hover, select:hover {
    border-color: transparent;
    box-shadow: 0 0 0 1px #90a79c;
   
  }

  .btn {
    margin: 5px;
  }



