.btn-primary {
    color: #fff;
    background-color: #009d48 !important; 
    border-color: #ffffff !important;
}

.btn-primary:hover {
    background-color: #046f36 !important; 
    
}

.clamed-logo {
    width: 450px;
    height: 250px;
}


    

    




